/* Add CSS Styling */

.odd {
    background-color: rgb(250, 170, 170);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#id01 {
    color: blue;
    font-size: 36px;
}

.odd.bigger {
    font-size: 24px;
}

#id02 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}